.tab-tem-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-right: 25px;
}

.tab {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 4px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}

.border-radius {
  color: #fec653;
  border-bottom: 2px solid #fec653;
}
